@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{
  background-color:gray;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.LoadSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinnerContainer{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.trueContainer{
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
  width: 600px;
  height: 50px;
}
.trueContainer div{
  border: 1px;
  padding: 10px;
}
.rectangle{
  flex: 4;
}
.fcomp {
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
  width: 600px;
  height: 50px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #15e259b7;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #15e259b7;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}